---

- name: Install required DSC modules
  win_psmodule:
    name: "{{ item }}"
    state: present
  loop:
    - NetworkingDsc
    - SqlServerDsc

- name: set up sqladmin user
  win_user:
    name: "{{ mssql_username }}"
    password: "{{ mssql_password }}"
    password_never_expires: True
    state: present
    groups:
      - Administrators

- name: install .Net
  win_feature:
    name: "{{ item }}"
    state: present
    include_sub_features: True
    include_management_tools: True
  with_items:
    - NET-Framework-Core
    - NET-Framework-Features
  register: install_dotnet
  until: install_dotnet is success
  delay: 3
  retries: 5

- name: create directory structure
  win_file:
    path: "{{ item }}"
    state: directory
  with_items:
    - C:\Backup
    - C:\Databases
    - C:\UserDatabases

- name: check ISO file
  win_stat:
    path: "{{ iso_path }}"
  register: iso_file

- include_tasks: download_iso.yml
  when: (":" in iso_path) or (not iso_file.stat.exists)

- name: mount iso
  win_disk_image:
    image_path: "{{ iso_path }}"
    state: present
  register: disk_image_out
  until: disk_image_out is success
  delay: 3
  retries: 5


- name: install SQL 2016
  win_dsc:
    resource_name: Package
    Path: '{{ disk_image_out.mount_path }}setup.exe'
    ProductId: '{0AE831BC-F2A8-4DE2-8FBF-68B220611A7F}'
    Name: Microsoft SQL Server 2016
    Arguments: >
      /Q
      /ACTION=Install
      /IACCEPTSQLSERVERLICENSETERMS
      /ENU
      /UPDATEENABLED=false
      /FEATURES=SQLENGINE,Conn
      /INSTANCENAME=MSSQLSERVER
      /SECURITYMODE=SQL
      /SAPWD={{ mssql_password }}
      /AGTSVCSTARTUPTYPE=automatic
      /BROWSERSVCSTARTUPTYPE=automatic
      /SQLSYSADMINACCOUNTS={{ mssql_username }}
      /SQLBACKUPDIR=C:\Backup
      /SQLUSERDBDIR=C:\Databases
      /SQLUSERDBLOGDIR=C:\UserDatabases
  register: sql_install

- name: reboot if needed
  win_reboot:
  when:
    - sql_install.reboot_required is defined
    - sql_install.reboot_required

- name: unmount iso
  win_disk_image:
    image_path: "{{ iso_path }}"
    state: absent

- name: enable tcp on SQL server instance
  win_dsc:
    resource_name: SqlServerNetwork
    InstanceName: MSSQLSERVER
    ProtocolName: Tcp
    TCPPort: 1433
    TCPDynamicPort: False
    IsEnabled: True
    RestartService: True

- name: Open port for MSSQL
  win_dsc:
    resource_name: Firewall
    ensure: Present
    name: MSSQL
    enabled: True
    localport: 1433
    action: Allow
    direction: Inbound
    protocol: TCP